NODE_ENV=development
PORT=3003
BBVA_URL=
KEY_ACCESS=
ALLOWED_IPS=::1


# TEST
BBVA_CODIGO_EMPRESA=
BBVA_CODIGO_USUARIO=
BBVA_CLAVE_ACCESO=
BBVA_FECHA_INICIO=
BBVA_FECHA_FIN=
BBVA_CUENTA_BANCARIA1=
BBVA_CUENTA_BANCARIA2=